@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/typography';
@config "../tailwind.config.js";

:root {
	--header: #F1ECEB;
	--special: #A7928E;
	--primary: #d0a79d;
	--border: #91837c;
	--border2: #5d4e4b;
	--bg: #231f1f;
	--bg2: #151311;

	--red: #ea6962;
	--orange: #e78a4e;
	--yellow: #d8a657;
	--green: #a9b665;
	--aqua: #7daea3;
	--purple: #d3869b;
	--color-header: #F1ECEB;
	--color-special-text: #A7928E;
	--color-primary: #d0a79d;
	--color-border: #91837c;
	--color-border-s: #91837c;
	--color-border2: #5d4e4b;
	--color-background: #231f1f;
	--color-background2: #151311;
}

body {
	background: var(--bg);
	font-family: Catriel, sans-serif;
	color: var(--primary);
	font-family: 'Catriel', sans-serif;
}

img {
	pointer-events: none;
	opacity: 1;
	transition: opacity 300ms ease-out;
	user-select: none;
}

button {
	cursor: pointer;
}

p,
span {
	transition: color 300ms ease-out;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}


.hor {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ver {
	display: flex;
	flex-direction: column;
}

body::-webkit-scrollbar {
	width: 1px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: #5c4b48;
	border-radius: 1px;
	height: 5px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #6b5855;
}

body {
	scrollbar-width: thin;
	scrollbar-color: #5c4b48 transparent;
}